footer {
    background: linear-gradient(
        135deg,
        rgba(7, 40, 102, 0.356),
        rgba(1, 20, 37, 0.479)
    );
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 123, 255, 0.2);
    box-shadow: 0 -4px 20px rgba(0, 123, 255, 0.15);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 10;

    & > ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    p {
        margin: 0.5rem 0;
        font-weight: 600;
        color: #007bff;
    }
}

/* Hacer el pie de p치gina m치s peque침o en pantallas m칩viles */
@media screen and (max-width: 600px) {
    footer p {
        font-size: 0.9em;
    }
}
