nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;

    a {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px 25px;
        font-size: 1em;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        flex-grow: 1;
        text-align: center;

        &:hover {
            background-color: #0056b3;
        }

        &.active {
            background-color: #0611a7;
        }
    }
}
