.taller {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: solid 2px transparent;
    border-left: 5px solid #007bff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > div {
        display: flex;
        flex-direction: row;
    }

    &:has(input:checked) {
        border-color: #007bff;
    }
}
